<div>

    <div class="row">
        <div class="card col-3 m-4" *ngFor="let p of products">
            <div class="card-body text-center w-20" style="margin: 10px 5px; box-shadow: 1px 1px 9px 1px;"
                class="border-radius: 5px;"></div>
            <img src="{{p.images[0]}}" class="card-img-top h-100" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{p.title}}</h5>
                <p class="card-text">price {{p.price | currency:'INR'}} </p>
                <a class="btn btn-primary" (click)="addToCart(p)"> Add to kart</a>
            </div>
        </div>
    </div>
</div>