<div class="bg-secondary text-white d-flex">
    <div>
        <h2>
            <i class="bi bi-upc-scan"></i>
            E-Commerce
        </h2>
    </div>
    <div class="row mt-1">
        <div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-append">
                    <button class="btn btn-primary btn-m" type="button">Search<i class="fa fa-search"></i></button>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" routerLink="cart"style="width: 80px;margin-left: 600%;">
                        <i class="bi bi-cart-check"></i>KArt</button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-danger" routerLink="/login" type="submit"
            style="width: 80px;margin-left: 500px;">Logout</button>
    </div>
</div>


<div class="row">
    <div class="col-sm-2 sidemenu">
        <div class="sideNav">
            <div class="sideNav-links">
                <nav id="sidebarmenu">
                    <div class="position-sticky sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-Link" routerLink="products" routerLinkActive="active">Products</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-Link" routerLink="admin" routerLinkActive="active">Admin</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div class="col-sm-10">
        <div class="sn-content">

            <router-outlet></router-outlet>
        </div>

    </div>
</div>